{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static '/css/style.css '%}" />
  </head>
  <body>
    
    <style>
      .dropdown {
       
  display: inline-block;
  position: relative;
}
.dropdown:hover{
        color: #F57500;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
  color:#F57500;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 0px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #F57500;
}
      </style>
    
    <main>
      <header id="header">
        <div class="overlay overlay-lg">
          <img src="{% static '/img/shapes/square.png'%}" class="shape square" alt="" />
          <img src="{% static '/img/shapes/circle.png'%}" class="shape circle" alt="" />
          <img
            src="{% static '/img/shapes/half-circle.png'%}"
            class="shape half-circle1"
            alt=""
          />
          <img
            src="{% static '/img/shapes/half-circle.png'%}"
            class="shape half-circle2"
            alt=""
          />
          <img src="{% static '/img/shapes/x.png'%}" class="shape xshape" alt="" />
          <img src="{% static '/img/shapes/wave.png'%}" class="shape wave wave1" alt="" />
          <img src="{% static '/img/shapes/wave.png'%}" class="shape wave wave2" alt="" />
          <img src="{% static '/img/shapes/triangle.png'%}" class="shape triangle" alt="" />
          <img src="{% static '/img/shapes/letters.png'%}" class="letters" alt="" />
          <img src="{% static '/img/shapes/points1.png'%}" class="points points1" alt="" />
        </div>

        <nav>
          <div class="container">
            <div class="logo">
              <img src="{% static '/img/ArtyProd.png'%}" alt="" />
            </div>

            <div class="links">
              <ul>
                <li>
                  <a href="{% url 'home' %}">Home</a>
                </li>
                
                <li>
                  <a href="{% url 'portfolio' %}">Portfolio</a>
                </li>
                {% if user.is_authenticated and user.is_superuser%}
                <li class="links nav-item dropdown ">
               
                  <a class="nav-link ">Personnel</a>
                  <div class="dropdown-content">
                  <a href="{% url 'personnel' %}">Ajout</a>
                  <a href="{% url 'TtPersonnel' %}">Personnels</a>
                  
                  </div>
                
              </li>
              
              <li class="links nav-item dropdown ">
               
                <a class="nav-link ">Equipe</a>
                <div class="dropdown-content">
                <a href="{% url 'create_equipe' %}">Ajout</a>
                <a href="{% url 'list_equipes' %}">Equipes</a>
                
                </div>
              </li>
              
              <li class="links nav-item dropdown ">
               
                <a class="nav-link ">Projet</a>
                <div class="dropdown-content">
                <a href="{% url 'projet' %}">Ajout</a>
                <a href="{% url 'TtProjet' %}">Projets</a>
                
                </div>
              </li>
              {% endif %}
              {% if user.is_authenticated and not user.is_superuser %}
              <li>
                <a href="{% url 'demander_projet' %}">Demander </a>
              </li>
              
        <li>
            
                <a href="{% url 'mes_projets' %}">Mes Projets </a> 
            
        </li>
        {% endif %}
   
  
              
                 
                
                <li>
                  
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li >
                  <a class=" btn small  text-white" href="{% url 'login' %}">connexion </a>
              </li>
              {% if user.is_authenticated %}
              <li >
                  <a class=" btn small  text-white" href="{% url 'logout' %}">Deconnexion </a>
              </li>
              {% endif %}

              <li >
                  <a class=" btn small  text-white" href="{% url 'register' %}">S'inscrire </a>
              </li>
               
              </ul>
              
            </div>
           

            
      </header>

      {% block content %}
            
      {% endblock %}

      <!-- footer -->
     <footer class="footer">
      <div class="container">
        <div class="grid-4">
          <div class="grid-4-col footer-about">
            <h3 class="title-sm">About</h3>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
              officiis quo officia quia?
            </p>
          </div>

          <div class="grid-4-col footer-links">
            <h3 class="title-sm">Links</h3>
            <ul>
              <li>
                <a href="#services">Services</a>
              </li>
              <li>
                <a href="#portfolio">Portfolio</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#testimonials">Testimonials</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

          <div class="grid-4-col footer-links">
            <h3 class="title-sm">Services</h3>
            <ul>
              <li>
                <a href="#">Web Design</a>
              </li>
              <li>
                <a href="#">Web Dev</a>
              </li>
              <li>
                <a href="#">App Design</a>
              </li>
              <li>
                <a href="#">Marketing</a>
              </li>
              <li>
                <a href="#">UI Design</a>
              </li>
            </ul>
          </div>

          <div class="grid-4-col footer-newstletter">
            <h3 class="title-sm">Subscribe</h3>
            <p class="text">
              Lorem ipsum dolor, sit amet ipsum dolor sit amet.
            </p>
            <div class="footer-input-wrap">
              <input type="email" class="footer-input" placeholder="Email" />
              <a href="#" class="input-arrow">
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="bottom-footer">
          <div class="copyright">
            <p class="text">
              Copyright&copy;2023 All rights reserved | Made by
              <span class="split-text" data-text="FORUM"><a
                href="https://dopedevelopers.com/" > Dope developers </a></span>
             
            </p>
          </div>

          <div class="followme-wrap">
            <div class="followme">
              <h3>Follow me</h3>
              <span class="footer-line"></span>
              <div class="social-media">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>

            <div class="back-btn-wrap">
              <a href="#" class="back-btn">
                <i class="fas fa-chevron-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/app.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>






