{% extends "base.html" %}
{% block content %}


<section class="contact" id="contact">
    <div class="container">
      <div class="contact-box">
        <div class="contact-info">
          <h3 class="title">Get in touch</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
            rerum odio incidunt doslorum officia dolorem eaque aprim?
          </p>
          <div class="information-wrap">
            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <p class="info-text">Sfax</p>
            </div>

            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-paper-plane"></i>
              </div>
              <p class="info-text">ArtyProd@gmail.com</p>
            </div>

            <div class="information">
              <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
              </div>
              <p class="info-text">123-456-789</p>
            </div>
          </div>
        </div>
<!-- ----------------------------------------------------------- -->
        <div class="contact-form">
            <form method="post"action="{% url 'contact' %}"class="space-y-4 md:space-y-6">
            {% csrf_token %}
          <h3 class="title">Contact me</h3>
          <div class="row">
           
              <input
                type="email"
                name="email"
                placeholder="Email"class="contact-input"
                required
                id="email"
                
              /></div>
              
              <div class="row">
              <input class="contact-input"type="text"name="subject" placeholder="Subject" requiredid="text"
                
              />
            </div>
            
            
              <div class="row">
              <textarea name="message"placeholder="Message"required class="contact-input textarea" rows="4"placeholder="Your message..."
              ></textarea>
            </div>
        </div>
        
      
              <button
              type="submit"
              class="btn"
            >
              Send message
            </button>
        </div>
              
    </form>
      </div>
    </div>
  </section>

  

  {% endblock %}