{% extends 'base.html' %}
{% block title %} Supprimer un personnel {% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
<style>
  .left-align {
    margin-left: 30%;
  }
</style>

<div class="left-align">
  <div class="container mt-3">
    <h2>Supprimer un personnel</h2>
    <p>Êtes-vous sûr de vouloir supprimer ce personnel ?</p>
    <p>{{ personnel.nom }} {{ personnel.prenom }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Supprimer</button>
      <a href="{% url 'TtPersonnel' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
delete_personneldelete_personnel



