{% extends 'base.html' %}



{% block content %}
<div class="container">
    <div class="row">
            {% for personnel in personnels %}
            {% if forloop.counter0|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="card" style="width: 20rem;; margin: 30px;">
                    <div class="blog-image">
                    {% if personnel.photo %}
                    <img src="{{ personnel.photo.url }}" alt="{{ personnel.nom }}" class="card-img-top">
                    {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ personnel.nom }}</h5>
                        <p class="card-text">Date Naissance: <b>{{ personnel.date_naissance }}</b></p>
                        <p class="card-text">Profil Linkedin/Site personnel: <b>{{ personnel.profil_linkedin_ou_site_personnel }}</b></p>
                    </div>
                        <div class="card-body">
                        <div class="btn-group" role="group">
                            <a  href="{% url 'detail_personnel' prs_id=personnel.id %}" class=" card-link">Voir détails</a>
                            <a  href="{% url 'edit_personnel' personnel.id %}" class=" card-link">Modifier</a>
                            <a href="{% url 'delete_personnel' personnel.id %}" class=" card-link" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer</a>
                        </div>
                        </div>
                   
                </div>
            
            {% endfor %}
        </div>
    </div>
    <br><br><br><br><br>
{% endblock %}


