{% extends 'base.html' %}
{% block title %} Supprimer un projet {% endblock %}

{% block content %}
<style>
  .left-align {
    margin-left: 30%;
  }
</style>

<div class="left-align">
  <br><br><br><br>
  <div class="container mt-3">
    <h2>Supprimer un projet</h2>
    <p>Êtes-vous sûr de vouloir supprimer ce projet ?</p>
    <p>{{ projet.nom }} {{ projet.service }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Supprimer</button>
      <a href="{% url 'TtProjet' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  <br><br><br><br><br><br><br><br>
</div> 
{% endblock %}
delete_projetdelete_projet