{% extends 'base.html' %}
{% block title %} {{projet.libellé}} {% endblock %}

{% block content %}

  <div class="card" style="width: 400px;margin: 10px; margin-left: 550px;" >
   <div class="card-body">
       <h5 class="card-title">Projet</h5>
       <hr class="dropdown-divider">
       <hr class="dropdown-divider">
        <p class="card-text">Nom: <b>{{projet.nom}}</b></p>
       <p class="card-text">Services: <b>{{projet.services}}</b></p>
       <p class="card-text">Equipe: <b>{{projet.equipe}}</b></p>
       <p class="card-text"> 
      </p>
      <p class="card-text">FichierProjet:<a href="{{ projet.FichierProjet.url }}">{{ projet.FichierProjet.name }}</a></p>
   </div>
</div>
{% endblock %}